<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="rkt7iLTBYZuRLjY_Sxg4uDDNusOJnuhHCDIGPwAahtk" />
  <title>p2p Loans-Available Loans-Community Driven Trading Platform</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">  <!-- DataTables -->
  <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <div id="MainHeaderDiv"></div>
  <div id="SideBarDiv"></div>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        p2ploans | p2ploans.site
        <small>Community Driven Peer to Peer Funding Platform</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="/p2ploans"><i class="fa fa-dashboard"></i> p2ploans</a></li>
         <li class="active">Available Loans</li>
      </ol>
    </section>
    <section class="content">

        <div class="box">

            <div class="row">

                <div class="col-md-3">
                    <div class="box box-info with-border">
                        <div class="box box-header with-border">
                            <h3 class="box-title">Public Profile</h3>
                        </div>
                        <div class="box box-info with-border">
                            <a href="/profiles" type="button" class="btn btn-primary btn-block"><strong> <i class="glyphicon glyphicon-user"> </i> My Profile</strong></a>
                        </div>
                        <div class="box box-body with-border">
                            <ul class="list-group">
                                <li class="list-group-item"><strong> <i class="glyphicon glyphicon-user"> </i> Profile Name : {{ thisProfile.strProfileName }}</strong></li>
                                <li class="list-group-item"><strong> <i class="glyphicon glyphicon-text-background"> </i> Intro : {{ thisProfile.strProfileIntro }}</strong></li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item"><strong> <i class="glyphicon glyphicon-user"> </i> Nick Name : {{ thisProfile.strNickname }}</strong></li>
                                <li class="list-group-item"><strong> <i class="glyphicon glyphicon-envelope"> </i> Email : {{ thisProfile.strEmail }} </strong></li>
                                <li class="list-group-item"><strong> <i class="glyphicon glyphicon-phone"> </i> Cell : {{ thisProfile.strCell }}</strong></li>
                                <li class="list-group-item"><strong> <i class="fa fa-link"> </i> Website : {{ thisProfile.strWebsite }}</strong></li>
                            </ul>

                            <ul class="list-group">
                                <li class="list-group-item"><button type="button" class="btn btn-success btn-block" ><strong><i class="glyphicon glyphicon-thumbs-up"> </i> Like ({{ thisProfile.strLikes }})</strong></button> </li>
                                <li class="list-group-item"><button type="button" class="btn btn-success btn-block" id="SendMessageButt"><strong><i class="glyphicon glyphicon-envelope"> </i> Send Message</strong></button> </li>
                                <li class="list-group-item"><button type="button" class="btn btn-success btn-block" id="SendLoanRequestButt"><strong><i class="glyphicon glyphicon-envelope"> </i> Send Loan Request</strong></button> </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-9">
                    <div id="FinanciersINFDIV"></div>


                </div>

            </div>
        </div>
    </section>
  </div>
  <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/dist/js/pages/profiles/thisprofile.js"></script>
<script src="/static/dist/js/pages/loaders.js"></script>

</body>
</html>


