<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Design by</b> <a href="http://blueitmarketing.site">Blue IT Marketing</a> | <small>Tel : +2715-962-0369 Email: info@p2pLoans.com </small>
    </div>
    <strong>Copyright &copy; 2012-2017 <a href="http://p2pLoans.site">P2P Loans</a>.</strong> All rights
    reserved.
</footer>
<footer class="box box-footer with-border">
    <div class="pull-right hidden-xs">
        <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/about">About</a>
    </div>
</footer>
<footer class="main-footer">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- justice_ndou -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7790567144101692"
     data-ad-slot="9302133360"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>