<ul class="sidebar-menu">
        <li class="header">B-MCM</li>
        <li class="treeview">
          <li><a href="/" title="Messaging &amp; Contact Management App Home"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>
          <li><a href="/about" title="Contact Us"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li>
          <li><a href="/contact" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i> <strong>Contact</strong></a></li>
          <!-- <li><a href="/faq" title="Create your Account"><i class="glyphicon glyphicon-question-sign"> </i> <strong> Faq</strong> </a> </li>-->
          <!-- <li><a href="/pricing" title="Messaging"><i class="glyphicon glyphicon-usd"> </i> <strong>Pricing</strong></a></li> -->
           <li><a href="/blog" title="Bulk Messaging &amp; Contact Management Blog"><i class="glyphicon glyphicon-book"> </i> <strong>Blog</strong></a></li>
        </li>
      </ul>