 <ul class="sidebar-menu">
        <li class="header">B-MCM</li>


          <li><a href="/" title="Messaging &amp; Contact Management App Home"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>

          <li><a href="/about" title="About"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li>


          <li><a href="/contact" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i> <strong>Contact</strong></a></li>

        <li class="active treeview">
          <a href="#">
            <i class="fa fa-user-md"></i> <span>Client Area</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a href="/account" title="Create your Account"><i class="glyphicon glyphicon-log-in"> </i> <strong> Account</strong> </a> </li>
              <li><a href="/admin" title="Messaging"><i class="glyphicon glyphicon-send"> </i> <strong>Bulk SMS</strong></a></li>
              <li><a href="/fax" title="Fax Portal"><i class="fa fa-tty"> </i> <strong>Fax</strong></a></li>
              <li><a href="/advertise" title="Create and Send Your SMS Advertisements"><i class="glyphicon glyphicon-bullhorn"> </i> <strong>Advertise</strong></a></li>
              <li><a href="/surveys" title="Create &amp; Send your SMS based Surveys"><i class="glyphicon glyphicon-pencil"> </i> <strong> Surveys</strong></a></li>
              <li><a href="/affiliates" title="Earn Real Money promoting this platform and selling Bulk Messages"><i class="glyphicon glyphicon-btc"> </i> <strong>Affiliates</strong></a></li>
          </ul>
        </li>
        <li><a href="/blog" title="Bulk Messaging &amp; Contact Management Blog"><i class="glyphicon glyphicon-book"> </i> <strong>Blog</strong></a></li>
        <li><a href="/dashboard" title="Dashboard"><i class="glyphicon glyphicon-dashboard"> </i> <strong>Dashboard</strong></a></li>

      </ul>